{% import 'macros/form.html' as form %}

<h2 class="hide-heading">{{ _('Import from ZIP') }}</h2>

<form method="POST" id="form-ingest-data" class="form" enctype="multipart/form-data">

    {% block errors %}{{ form.errors(errors) }}{% endblock %}

    <div class="form-group">
        <label for="field-source">Source file</label>
        <input type="file" class="form-control-file" name="source" id="field-source">
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-default" >{{ _('Ingest') }}</button>
    </div>

</form>
